body {
    text-align: center;
    background-image: url('https://images7.alphacoders.com/135/thumb-1920-1351186.png');
    color: white;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%; /* O ajusta según sea necesario */
    height: 20px; /* Ajusta según sea necesario */
    background-color: #333;
    color: #fff;
    text-align: center;
    /* z-index: -1; Ajusta según sea necesario */
}
.mensaje{
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    
}
.mensaje, input{
    width: 80%;
    
}